{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "react", "@typescript-eslint", "autofix"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": { 
      "no-console": 1,
      "semi": ["error", "always"],
      "indent": ["error", "tab"],
      "arrow-body-style": ["error", "as-needed"],
      "react/self-closing-comp": ["error", { "component": true, "html": true }],
      "no-restricted-imports": ["error",{ "patterns": ["../"] }]
    }
}